.back_btn_class{
    padding: 10px;
    background-color: #FF4C4C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.back_btn_class:hover{
    background-color: #fd0000;
}   


.form_btn_logout{
    width: 100%;
    padding: 10px;
    background-color: #FF4C4C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.form_btn_logout:hover{
    background-color: #fd0000;
}
.form_btn_login{
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.form_btn_login:hover{
    background-color: #0056b3;
} 
.delete_advert_btn_class{
	margin: 1em 0;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
	.right-alignment-header-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	}	
}