body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    flex-direction: column;
    gap: 10px;
}


.header-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	gap: 10px;
	margin: 1em 0;
}

.header-container img{
	width: 100px;
	height: 100px;
}

.header-inner-text-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	flex-direction: column;
}

.signup-container {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2em;
}

.signup-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #007BFF;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    font-size: 0.9rem;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.error {
    color: red;
    font-size: 0.9rem;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 1.5rem;
}

.login-link a {
    color: #FF8C00;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .signup-container {
        padding: 1.5rem;
        max-width: 90%;
    }

    .signup-title {
        font-size: 1.8rem;
    }

    .btn {
        font-size: 1rem;
        padding: 8px;
    }
    .header-container img{
		width: 75px;
		height: 75px;
	}
}
