<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/adminusermanagementpageStyles.css}">
</head>
<body>
	<div th:replace="fragments.html :: header"></div>

    <div class="content-container">
        <h2>User Management</h2>
        <div class="button-container">
            <button class="add-user-btn">Add User</button>
            <button class="delete-user-btn">Delete Selected</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.createdAt}"></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	
</body>
</html>