<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/fragmentstyles.css}">
    <link rel="stylesheet" th:href="@{/css/homepageStyles.css}">
</head>
<body>
	<div th:replace="fragments.html :: header"></div>
	<div th:replace="fragments.html :: header_mobile"></div>
	
	<div sec:authorize="isAnonymous()">
    	<p style="color: red; font-size: 1.25em;">Please login or signup to post your venue adverts or comment on your experience with venues you have visited!</p>
	</div>
	
	<h2 class="form-success-message" th:if="${advert_form_success_msg != null and advert_form_success_msg != ''}" th:text="${advert_form_success_msg}"></h2>
	<div class="cards_container">
	
		<div sec:authorize="isAnonymous() or hasAnyRole('BUSINESS_MEMBER','USER')" class="tailored_venues_card_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/search_icon.png}">
				<h2>Tailored Venues</h2>
				<p>Search for accessible venues and view their ratings.</p>
			</div>
			<a class="card_anchor_tag" th:href="@{/users/showVerifyVenuesPage}"></a>
		</div>
		
		<div sec:authorize="hasAnyRole('BUSINESS_MEMBER','ADMIN')" class="advertise_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/advertise_icon.png}">
				<h2>Venue Advertisement</h2>
				<p>Submit your venue information for advertisement.</p>
			</div>
			<a class="card_anchor_tag" th:href="@{/business/showVenueAdvertPage}"></a>
		</div>
		
		<div sec:authorize="hasRole('ADMIN')" class="manage_user_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/manage_icon.png}">
				<h2>User Management</h2>
				<p>View and manage application users.</p>
			</div>
			<a class="card_anchor_tag" th:href="@{/admin/showUserManagementPage}"></a>
		</div>
		
		<div sec:authorize="hasAnyRole('ADMIN')" class="verify_venue_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/verify_icon.png}">
				<h2>Verify Venues</h2>
				<p>Review and approve venues submitted by business members.</p>
			</div>
			<a class="card_anchor_tag" th:href="@{/admin/showVerifyVenuesPage}"></a>
		</div>
		
		<div sec:authorize="hasAnyRole('ADMIN')" class="verify_rating_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/verify_icon.png}">
				<h2>Verify Ratings</h2>
				<p>Review and moderate ratings left by users.</p>
			</div>
		</div>
		
		<div class="cards_common_container about_us_card_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/info_icon.png}">
				<h2>About Us</h2>
				<p>Check out the latest news and services of tailored leisure.</p>
			</div>
			<a class="card_anchor_tag" target="_blank" href="https://www.tailoredleisure.co.uk/"></a>
			
		</div>
		
	</div>
	
</body>
</html>