<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/homepageStyles.css}">
</head>
<body>
	<div class="header-container">
		<div class="left-alignment-header-container common-header-container">
			<h1>Welcome, <span th:text="${firstName}"></span></h1>
		</div>
		<div class="center-alignment-header-container common-header-container">
			<img th:src="@{/images/tailored_leisure_logo.png}" alt="#">
			<div class="header-inner-text-container">
				<h1>Tailored Leisure</h1>
				<h4>Accessibility for Everyone</h4>
			</div>
		</div>
		<div class="right-alignment-header-container common-header-container">
			<form action="/logout" method="post">
			    <button type="submit" class="form_btn_logout">Logout</button>
			</form>
		</div>
	</div>
	
	<div class="mobile-left-alignment-header-container common-header-container">
			<h1>Welcome, <span th:text="${firstName}"></span></h1>
	</div>
	
	<div class="cards_container">
	
		<div sec:authorize="isAuthenticated()" class="tailored_venues_card_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/search_icon.png}">
				<h2>Tailored Venues</h2>
				<p>Search for accessible venues and view their ratings.</p>
			</div>
		</div>
		
		<div sec:authorize="hasAnyRole('BUSINESS_MEMBER','ADMIN')" class="advertise_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/advertise_icon.png}">
				<h2>Venue Advertisement</h2>
				<p>Submit your venue for advertisement.</p>
			</div>
		</div>
		
		<div sec:authorize="hasRole('ADMIN')" class="manage_user_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/manage_icon.png}">
				<h2>User Management</h2>
				<p>View and manage app users.</p>
			</div>
		</div>
		
		<div sec:authorize="hasAnyRole('ADMIN')" class="verify_venue_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/verify_icon.png}">
				<h2>Verify Venues</h2>
				<p>Review and approve venues submitted by business members.</p>
			</div>
		</div>
		
		<div sec:authorize="hasAnyRole('ADMIN')" class="verify_rating_card_common_container cards_common_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/verify_icon.png}">
				<h2>Verify Ratings</h2>
				<p>Review and moderate ratings left by users.</p>
			</div>
		</div>
		
		<div sec:authorize="isAuthenticated()" class="cards_common_container about_us_card_container">
			<div class="card_title">
				<img alt="" th:src="@{/images/info_icon.png}">
				<h2>About Us</h2>
				<p>Check out the latest news and services of tailored leisure.</p>
			</div>
		</div>
		
	</div>
	
</body>
</html>