<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/fragmentstyles.css}">
    <link rel="stylesheet" th:href="@{/css/homepageStyles.css}">
    <link rel="stylesheet" th:href="@{/css/selectedVenueStyles.css}">
</head>
<body>
	<div th:replace="fragments.html :: header_back_btn"></div>
	<!-- <div sec:authorize="isAnonymous()" th:replace="fragments.html :: header_mobile"></div> -->
	<div sec:authorize="isAuthenticated()" th:replace="fragments.html :: header_mobile_later_pages"></div>
	
	<!-- <div sec:authorize="isAnonymous()">
    	<p style="color: red; font-size: 1.25em;">Please login or signup to post your venue adverts or comment on your experience with venues you have visited!</p>
	</div> -->
	<h2 class="form-success-message" th:if="${success_msg != null and success_msg != ''}" th:text="${success_msg}"></h2>
	<h2 class="form-error-message" th:if="${error_msg != null and error_msg != ''}" th:text="${error_msg}"></h2>
	
	<div class="main_selected_allusers_venue_container">
		<div class="venue_info_container">
			<h1>Venue Information</h1><br>
			<div class="venue_info_main_container">
				<div class="common_child_venue_info_main_container">
					<h3>Venue Name: <span th:text="${advert.venueName}"></span></h3>
					<h3>Venue Type: <span th:text="${advert.venueType}"></span></h3>
					<h3>Location: <span th:text="${advert.venueLocation}"></span></h3>
					<h3>Post Code: <span th:text="${advert.venuePostCode}"></span></h3>
					<h3>Created Date: <span th:text="${advert.createdDate}"></span></h3>
					<h3>Updated Date: <span th:text="${advert.updatedDate}"></span></h3>
					<h3>TL Verified Date: <span th:text="${advert.TLVerifiedDate}"></span></h3>
					<h3>TL Audited Date: <span th:text="${advert.TLAuditedDate}"></span></h3>
				</div>
				<div class="common_child_venue_info_main_container">
					<h3>Rating: <span th:text="${advert.venueName}"></span></h3>
					<h3>Rating: <span th:text="${advert.venueType}"></span></h3>
					<h3>Rating: <span th:text="${advert.venueLocation}"></span></h3>
					<h3>Rating: <span th:text="${advert.venuePostCode}"></span></h3>
				</div>
			</div>
		</div>
		<div class="checklists_main_container">
			<div class="common_checklist_info_container">
				<h1>Mobility Access Checklist</h1><br>
				<div>
					<h3 th:if="${advert.mobilityDisabledCarParking}"><span class="green-class">&check;</span> Disabled Car Parking</h3>
					<h3 th:if="${advert.mobilityHeadphonesAvailable}"><span class="green-class">&check;</span> HeadPhones Availability</h3>
					<h3 th:if="${advert.mobilityAccessibleRoute}"><span class="green-class">&check;</span> Accessible Route</h3>
					<h3 th:if="${advert.mobilityWideDoorways}"><span class="green-class">&check;</span> Wide Doorways</h3>
					<h3 th:if="${advert.mobilityWheelchairSeating}"><span class="green-class">&check;</span> Wheel chair Seating</h3>
					<h3 th:if="${advert.mobilityDisabledToilets}"><span class="green-class">&check;</span> Disabled Toilets</h3>
					<h3 th:if="${advert.mobilityChangingPlace}"><span class="green-class">&check;</span> Changing Place</h3>
					<h3 th:if="${advert.mobilityLowerCounters}"><span class="green-class">&check;</span> Lower Counters</h3>
					<h3 th:if="${advert.mobilityLifts}"><span class="green-class">&check;</span> Lifts</h3>
					<h3 th:if="${advert.mobilityRamps}"><span class="green-class">&check;</span> Ramps</h3>
					<h3 th:if="${advert.mobilityAccessibleDoors}"><span class="green-class">&check;</span> Accessible Doors</h3>
					<h3 th:if="${advert.mobilityEyeLevelSignage}"><span class="green-class">&check;</span> Eye Level Signage</h3>
					<h3 th:if="${advert.mobilitySupportiveStaff}"><span class="green-class">&check;</span> Supportive Staff</h3>
					<h3 th:if="${advert.mobilityTrainedStaff}"><span class="green-class">&check;</span> Trained Staff</h3>
					<h3 th:if="${advert.mobilityUnrestrictedViewing}"><span class="green-class">&check;</span> Unrestricted Viewing</h3>
					
					
					<h3 th:unless="${advert.mobilityDisabledCarParking}"><span class="red-class">&cross;</span> Disabled Car Parking</h3>
					<h3 th:unless="${advert.mobilityHeadphonesAvailable}"><span class="red-class">&cross;</span> HeadPhones Availability</h3>
					<h3 th:unless="${advert.mobilityAccessibleRoute}"><span class="red-class">&cross;</span>  Accessible Route</h3>
					<h3 th:unless="${advert.mobilityWideDoorways}"><span class="red-class">&cross;</span> Wide Doorways</h3>
					<h3 th:unless="${advert.mobilityWheelchairSeating}"><span class="red-class">&cross;</span> Wheel chair Seating</h3>
					<h3 th:unless="${advert.mobilityDisabledToilets}"><span class="red-class">&cross;</span> Disabled Toilets</h3>
					<h3 th:unless="${advert.mobilityChangingPlace}"><span class="red-class">&cross;</span> Changing Place</h3>
					<h3 th:unless="${advert.mobilityLowerCounters}"><span class="red-class">&cross;</span> Lower Counters</h3>
					<h3 th:unless="${advert.mobilityLifts}"><span class="red-class">&cross;</span> Lifts</h3>
					<h3 th:unless="${advert.mobilityRamps}"><span class="red-class">&cross;</span> Ramps</h3>
					<h3 th:unless="${advert.mobilityAccessibleDoors}"><span class="red-class">&cross;</span> Accessible Doors</h3>
					<h3 th:unless="${advert.mobilityEyeLevelSignage}"><span class="red-class">&cross;</span> Eye Level Signage</h3>
					<h3 th:unless="${advert.mobilitySupportiveStaff}"><span class="red-class">&cross;</span> Supportive Staff</h3>
					<h3 th:unless="${advert.mobilityTrainedStaff}"><span class="red-class">&cross;</span> Trained Staff</h3>
					<h3 th:unless="${advert.mobilityUnrestrictedViewing}"><span class="red-class">&cross;</span> Unrestricted Viewing</h3>
					
					<div id="mobility_additional_comments_container_div_id" class="additional_comments_container_div">
						<div th:if="${advert.mobilityDisabledCarParkingComments != null and !#strings.isEmpty(advert.mobilityDisabledCarParkingComments)}">
						    <h3>Disabled Car Parking Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityDisabledCarParkingComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityHeadphonesAvailableComments != null and !#strings.isEmpty(advert.mobilityHeadphonesAvailableComments)}">
						    <h3>Headphones Available Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityHeadphonesAvailableComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityAccessibleRouteComments != null and !#strings.isEmpty(advert.mobilityAccessibleRouteComments)}">
						    <h3>Accessible Route Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityAccessibleRouteComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityWideDoorwaysComments != null and !#strings.isEmpty(advert.mobilityWideDoorwaysComments)}">
						    <h3>Wide Doorways Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityWideDoorwaysComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityWheelchairSeatingComments != null and !#strings.isEmpty(advert.mobilityWheelchairSeatingComments)}">
						    <h3>Wheel Chair Seating Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityWheelchairSeatingComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityDisabledToiletsComments != null and !#strings.isEmpty(advert.mobilityDisabledToiletsComments)}">
						    <h3>Disabled Toilets Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityDisabledToiletsComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityChangingPlaceComments != null and !#strings.isEmpty(advert.mobilityChangingPlaceComments)}">
						    <h3>Changing Place Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityChangingPlaceComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityLowerCountersComments != null and !#strings.isEmpty(advert.mobilityLowerCountersComments)}">
						    <h3>Lower Counters Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityLowerCountersComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityLiftsComments != null and !#strings.isEmpty(advert.mobilityLiftsComments)}">
						    <h3>Lifts Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityLiftsComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityRampsComments != null and !#strings.isEmpty(advert.mobilityRampsComments)}">
						    <h3>Ramps Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityRampsComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityUnrestrictedViewingComments != null and !#strings.isEmpty(advert.mobilityUnrestrictedViewingComments)}">
						    <h3>Unrestricted Viewing Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityUnrestrictedViewingComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityAccessibleDoorsComments != null and !#strings.isEmpty(advert.mobilityAccessibleDoorsComments)}">
						    <h3>Accessible Doors Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityAccessibleDoorsComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityEyeLevelSignageComments != null and !#strings.isEmpty(advert.mobilityEyeLevelSignageComments)}">
						    <h3>Eye Level Signage Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityEyeLevelSignageComments}"></textarea>
						</div>
						<div th:if="${advert.mobilitySupportiveStaffComments != null and !#strings.isEmpty(advert.mobilitySupportiveStaffComments)}">
						    <h3>Supportive Staff Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilitySupportiveStaffComments}"></textarea>
						</div>
						<div th:if="${advert.mobilityTrainedStaffComments != null and !#strings.isEmpty(advert.mobilityTrainedStaffComments)}">
						    <h3>Trained Staff Comments: </h3>
						    <textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityTrainedStaffComments}"></textarea>
						</div>
						
						<h3>Additional Comments: </h3>
						<textarea rows="5" cols="" readonly="readonly" th:text="${advert.mobilityComments}"></textarea>
					</div>
				</div>
			</div>
			<div class="common_checklist_info_container">
				<h1>Blind Visually Impaired Access Checklist</h1><br>
				<div>
					<h3 th:if="${advert.blindHighContrastSignage}"><span class="green-class">&check;</span> High Contrast Signage</h3>
					<h3 th:if="${advert.blindLargeFontSignage}"><span class="green-class">&check;</span> Large Font Signage</h3>
					<h3 th:if="${advert.blindBrailleSignage}"><span class="green-class">&check;</span> Braille Signage</h3>
					<h3 th:if="${advert.blindVisibleWalkways}"><span class="green-class">&check;</span> Visible Walkways</h3>
					<h3 th:if="${advert.blindTouchTours}"><span class="green-class">&check;</span> Touch Tours</h3>
					<h3 th:if="${advert.blindLargeSubtitles}"><span class="green-class">&check;</span> Large Subtitles</h3>
					<h3 th:if="${advert.blindNoTripHazards}"><span class="green-class">&check;</span> No Trip Hazards</h3>
					<h3 th:if="${advert.blindAdjustableLighting}"><span class="green-class">&check;</span> Adjustable Lighting</h3>
					<h3 th:if="${advert.blindAudioDescriptions}"><span class="green-class">&check;</span> Audio Descriptions</h3>
					<h3 th:if="${advert.blindAdaptedLeaflets}"><span class="green-class">&check;</span> Adapted Leaflets</h3>
					<h3 th:if="${advert.blindAdaptedSignage}"><span class="green-class">&check;</span> Adapted Signage</h3>
					<h3 th:if="${advert.blindSupportiveStaff}"><span class="green-class">&check;</span> Supportive Staff</h3>
					<h3 th:if="${advert.blindTrainedStaff}"><span class="green-class">&check;</span> Trained Staff</h3>
					<h3 th:if="${advert.blindFrontSeating}"><span class="green-class">&check;</span> Front Seating</h3>
					
					<h3 th:unless="${advert.blindHighContrastSignage}"><span class="red-class">&cross;</span> High Contrast Signage</h3>
					<h3 th:unless="${advert.blindLargeFontSignage}"><span class="red-class">&cross;</span> Large Font Signage</h3>
					<h3 th:unless="${advert.blindBrailleSignage}"><span class="red-class">&cross;</span> Braille Signage</h3>
					<h3 th:unless="${advert.blindVisibleWalkways}"><span class="red-class">&cross;</span> Visible Walkways</h3>
					<h3 th:unless="${advert.blindTouchTours}"><span class="red-class">&cross;</span> Touch Tours</h3>
					<h3 th:unless="${advert.blindLargeSubtitles}"><span class="red-class">&cross;</span> Large Subtitles</h3>
					<h3 th:unless="${advert.blindNoTripHazards}"><span class="red-class">&cross;</span> No Trip Hazards</h3>
					<h3 th:unless="${advert.blindAdjustableLighting}"><span class="red-class">&cross;</span> Adjustable Lighting</h3>
					<h3 th:unless="${advert.blindAudioDescriptions}"><span class="red-class">&cross;</span> Audio Descriptions</h3>
					<h3 th:unless="${advert.blindAdaptedLeaflets}"><span class="red-class">&cross;</span> Adapted Leaflets</h3>
					<h3 th:unless="${advert.blindAdaptedSignage}"><span class="red-class">&cross;</span> Adapted Signage</h3>
					<h3 th:unless="${advert.blindSupportiveStaff}"><span class="red-class">&cross;</span> Supportive Staff</h3>
					<h3 th:unless="${advert.blindTrainedStaff}"><span class="red-class">&cross;</span> Trained Staff</h3>
					<h3 th:unless="${advert.blindFrontSeating}"><span class="red-class">&cross;</span> Front Seating</h3>
					
					<div id="blind_additional_comments_container_div_id" class="additional_comments_container_div">
						<div th:if="${advert.blindHighContrastSignageComments != null and !#strings.isEmpty(advert.blindHighContrastSignageComments)}">	   
							<h3>High Contrast Signage Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindHighContrastSignageComments}"></textarea>
						</div>
						<div th:if="${advert.blindLargeFontSignageComments != null and !#strings.isEmpty(advert.blindLargeFontSignageComments)}">	   
							<h3>Large Font Signage Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindLargeFontSignageComments}"></textarea>
						</div>
						<div th:if="${advert.blindBrailleSignageComments != null and !#strings.isEmpty(advert.blindBrailleSignageComments)}">	   
							<h3>Braille Signage Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindBrailleSignageComments}"></textarea>
						</div>
						<div th:if="${advert.blindVisibleWalkwaysComments != null and !#strings.isEmpty(advert.blindVisibleWalkwaysComments)}">	   
							<h3>Visible Walkways Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindVisibleWalkwaysComments}"></textarea>
						</div>
						<div th:if="${advert.blindTouchToursComments != null and !#strings.isEmpty(advert.blindTouchToursComments)}">	   
							<h3>Touch Tours Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindTouchToursComments}"></textarea>
						</div>
						<div th:if="${advert.blindLargeSubtitlesComments != null and !#strings.isEmpty(advert.blindLargeSubtitlesComments)}">	   
							<h3>Large Subtitles Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindLargeSubtitlesComments}"></textarea>
						</div>
						<div th:if="${advert.blindNoTripHazardsComments != null and !#strings.isEmpty(advert.blindNoTripHazardsComments)}">	   
							<h3>No Trip Hazards Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindNoTripHazardsComments}"></textarea>
						</div>
						<div th:if="${advert.blindAdjustableLightingComments != null and !#strings.isEmpty(advert.blindAdjustableLightingComments)}">	   
							<h3>Adjustable Lighting Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindAdjustableLightingComments}"></textarea>
						</div>
						<div th:if="${advert.blindAudioDescriptionsComments != null and !#strings.isEmpty(advert.blindAudioDescriptionsComments)}">	   
							<h3>Audio Descriptions Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindAudioDescriptionsComments}"></textarea>
						</div>
						<div th:if="${advert.blindAdaptedLeafletsComments != null and !#strings.isEmpty(advert.blindAdaptedLeafletsComments)}">	   
							<h3>Adapted Leaflets Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindAdaptedLeafletsComments}"></textarea>
						</div>
						<div th:if="${advert.blindAdaptedSignageComments != null and !#strings.isEmpty(advert.blindAdaptedSignageComments)}">	   
							<h3>Adapted Signage Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindAdaptedSignageComments}"></textarea>
						</div>
						<div th:if="${advert.blindFrontSeatingComments != null and !#strings.isEmpty(advert.blindFrontSeatingComments)}">	   
							<h3>Front Seating Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindFrontSeatingComments}"></textarea>
						</div>
						<div th:if="${advert.blindSupportiveStaffComments != null and !#strings.isEmpty(advert.blindSupportiveStaffComments)}">	   
							<h3>Supportive Staff Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindSupportiveStaffComments}"></textarea>
						</div>
						<div th:if="${advert.blindTrainedStaffComments != null and !#strings.isEmpty(advert.blindTrainedStaffComments)}">	   
							<h3>Trained Staff Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindTrainedStaffComments}"></textarea>
						</div>
					
						<div th:if="${advert.blindComments != null and !#strings.isEmpty(advert.blindComments)}">	   
							<h3>Additonal Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.blindComments}"></textarea>
						</div>
					</div>
				
				</div>
			</div>
			<div class="common_checklist_info_container">
				<h1>Deaf/Hard of Hearing Access Checklist</h1><br>
				<div>
					<h3 th:if="${advert.deafHearingLoops}"><span class="green-class">&check;</span> Hearing Loops</h3>
					<h3 th:if="${advert.deafAssistiveTechnology}"><span class="green-class">&check;</span> Assistive Technology</h3>
					<h3 th:if="${advert.deafSignLanguage}"><span class="green-class">&check;</span> Sign Language</h3>
					<h3 th:if="${advert.deafAdequateSignage}"><span class="green-class">&check;</span> Adequate Signage</h3>
					<h3 th:if="${advert.deafSubtitles}"><span class="green-class">&check;</span> Subtitles</h3>
					<h3 th:if="${advert.deafSupportiveStaff}"><span class="green-class">&check;</span> Supportive Staff</h3>
					<h3 th:if="${advert.deafTrainedStaff}"><span class="green-class">&check;</span> Trained Staff</h3>
					<h3 th:if="${advert.deafFrontSeating}"><span class="green-class">&check;</span> Front Seating</h3>
					
					<h3 th:unless="${advert.deafHearingLoops}"><span class="red-class">&cross;</span> Hearing Loops</h3>
					<h3 th:unless="${advert.deafAssistiveTechnology}"><span class="red-class">&cross;</span> Assistive Technology</h3>
					<h3 th:unless="${advert.deafSignLanguage}"><span class="red-class">&cross;</span> Sign Language</h3>
					<h3 th:unless="${advert.deafAdequateSignage}"><span class="red-class">&cross;</span> Adequate Signage</h3>
					<h3 th:unless="${advert.deafSubtitles}"><span class="red-class">&cross;</span> Subtitles</h3>
					<h3 th:unless="${advert.deafSupportiveStaff}"><span class="red-class">&cross;</span> Supportive Staff</h3>
					<h3 th:unless="${advert.deafTrainedStaff}"><span class="red-class">&cross;</span> Trained Staff</h3>
					<h3 th:unless="${advert.deafFrontSeating}"><span class="red-class">&cross;</span> Front Seating</h3>
					
					<div id="deaf_additional_comments_container_div_id" class="additional_comments_container_div">
						<div th:if="${advert.deafHearingLoopsComments != null and !#strings.isEmpty(advert.deafHearingLoopsComments)}">	   
							<h3>Hearing Loops Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafHearingLoopsComments}"></textarea>
						</div>
						<div th:if="${advert.deafAssistiveTechnologyComments != null and !#strings.isEmpty(advert.deafAssistiveTechnologyComments)}">	   
							<h3>Assistive Technology Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafAssistiveTechnologyComments}"></textarea>
						</div>
						<div th:if="${advert.deafSignLanguageComments != null and !#strings.isEmpty(advert.deafSignLanguageComments)}">	   
							<h3>Sign Language Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafSignLanguageComments}"></textarea>
						</div>
						<div th:if="${advert.deafAdequateSignageComments != null and !#strings.isEmpty(advert.deafAdequateSignageComments)}">	   
							<h3>Adequate Signage Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafAdequateSignageComments}"></textarea>
						</div>
						<div th:if="${advert.deafSubtitlesComments != null and !#strings.isEmpty(advert.deafSubtitlesComments)}">	   
							<h3>Subtitles Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafSubtitlesComments}"></textarea>
						</div>
						<div th:if="${advert.deafFrontSeatingComments != null and !#strings.isEmpty(advert.deafFrontSeatingComments)}">	   
							<h3>Front Seating Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafFrontSeatingComments}"></textarea>
						</div>
						<div th:if="${advert.deafSupportiveStaffComments != null and !#strings.isEmpty(advert.deafSupportiveStaffComments)}">	   
							<h3>Supportive Staff Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafSupportiveStaffComments}"></textarea>
						</div>
						<div th:if="${advert.deafTrainedStaffComments != null and !#strings.isEmpty(advert.deafTrainedStaffComments)}">	   
							<h3>Trained Staff Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafTrainedStaffComments}"></textarea>
						</div>
						
						<div th:if="${advert.deafComments != null and !#strings.isEmpty(advert.deafComments)}">	   
							<h3>Additonal Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.deafComments}"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="common_checklist_info_container">
				<h1>Neurodiverse Access Checklist</h1><br>
				<div>
					<h3 th:if="${advert.neurodiverseNoiseReduction}"><span class="green-class">&check;</span> Noise Reduction</h3>
					<h3 th:if="${advert.neurodiverseAdjustableLighting}"><span class="green-class">&check;</span> Adjustable Lighting</h3>
					<h3 th:if="${advert.neurodiverseQuieterAreas}"><span class="green-class">&check;</span> Quieter Areas</h3>
					<h3 th:if="${advert.neurodiverseSensoryBag}"><span class="green-class">&check;</span> Sensory Bag</h3>
					<h3 th:if="${advert.neurodiverseLoudNoiseReduction}"><span class="green-class">&check;</span> Loud Noise Reduction</h3>
					<h3 th:if="${advert.neurodiverseQuieterTimeAds}"><span class="green-class">&check;</span> Quieter Time Ads</h3>
					<h3 th:if="${advert.neurodiverseAdaptedLeaflets}"><span class="green-class">&check;</span> Adapted Leaflets</h3>
					<h3 th:if="${advert.neurodiverseSupportiveStaff}"><span class="green-class">&check;</span> Supportive Staff</h3>
					<h3 th:if="${advert.neurodiverseTrainedStaff}"><span class="green-class">&check;</span> Trained Staff</h3>
					<h3 th:if="${advert.neurodiverseFlashingSignage}"><span class="green-class">&check;</span> Flashing Signage</h3>
					
					<h3 th:unless="${advert.neurodiverseNoiseReduction}"><span class="red-class">&cross;</span> Noise Reduction</h3>
					<h3 th:unless="${advert.neurodiverseAdjustableLighting}"><span class="red-class">&cross;</span> Adjustable Lighting</h3>
					<h3 th:unless="${advert.neurodiverseQuieterAreas}"><span class="red-class">&cross;</span> Quieter Areas</h3>
					<h3 th:unless="${advert.neurodiverseSensoryBag}"><span class="red-class">&cross;</span> Sensory Bag</h3>
					<h3 th:unless="${advert.neurodiverseLoudNoiseReduction}"><span class="red-class">&cross;</span> Loud Noise Reduction</h3>
					<h3 th:unless="${advert.neurodiverseQuieterTimeAds}"><span class="red-class">&cross;</span> Quieter Time Ads</h3>
					<h3 th:unless="${advert.neurodiverseAdaptedLeaflets}"><span class="red-class">&cross;</span> Adapted Leaflets</h3>
					<h3 th:unless="${advert.neurodiverseSupportiveStaff}"><span class="red-class">&cross;</span> Supportive Staff</h3>
					<h3 th:unless="${advert.neurodiverseTrainedStaff}"><span class="red-class">&cross;</span> Trained Staff</h3>
					<h3 th:unless="${advert.neurodiverseFlashingSignage}"><span class="red-class">&cross;</span> Flashing Signage</h3>
					
					<div id="neurodiverse_additional_comments_container_div_id" class="additional_comments_container_div">
						<div th:if="${advert.neurodiverseNoiseReductionComments != null and !#strings.isEmpty(advert.neurodiverseNoiseReductionComments)}">	   
							<h3>Noise Reduction Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseNoiseReductionComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseAdjustableLightingComments != null and !#strings.isEmpty(advert.neurodiverseAdjustableLightingComments)}">	   
							<h3>Adjustable Lighting Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseAdjustableLightingComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseQuieterAreasComments != null and !#strings.isEmpty(advert.neurodiverseQuieterAreasComments)}">	   
							<h3>Quieter Areas Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseQuieterAreasComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseSensoryBagComments != null and !#strings.isEmpty(advert.neurodiverseSensoryBagComments)}">	   
							<h3>Sensory Bag Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseSensoryBagComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseLoudNoiseReductionComments != null and !#strings.isEmpty(advert.neurodiverseLoudNoiseReductionComments)}">	   
							<h3>Loud Noise Reduction Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseLoudNoiseReductionComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseQuieterTimeAdsComments != null and !#strings.isEmpty(advert.neurodiverseQuieterTimeAdsComments)}">	   
							<h3>Quieter Time Ads Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseQuieterTimeAdsComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseFlashingSignageComments != null and !#strings.isEmpty(advert.neurodiverseFlashingSignageComments)}">	   
							<h3>Flashing Signage Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseFlashingSignageComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseAdaptedLeafletsComments != null and !#strings.isEmpty(advert.neurodiverseAdaptedLeafletsComments)}">	   
							<h3>Adapted Leaflets Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseAdaptedLeafletsComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseSupportiveStaffComments != null and !#strings.isEmpty(advert.neurodiverseSupportiveStaffComments)}">	   
							<h3>Supportive Staff Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseSupportiveStaffComments}"></textarea>
						</div>
						<div th:if="${advert.neurodiverseTrainedStaffComments != null and !#strings.isEmpty(advert.neurodiverseTrainedStaffComments)}">	   
							<h3>Trained Staff Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseTrainedStaffComments}"></textarea>
						</div>
						
						<div th:if="${advert.deafComments != null and !#strings.isEmpty(advert.deafComments)}">	   
							<h3>Additonal Comments: </h3>
							<textarea rows="5" cols="" readonly="readonly" th:text="${advert.neurodiverseComments}"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="show_comments_class_btn_container_div">
			<button id="show_comment_btn_id" class="show_comments_class_btn" onclick="showComments()">Show Venue Comments</button>
		</div>
		
		<h1 style="text-align: center; margin: 1em 0;">Venue Images/Videos</h1>
		
		
		<!-- Media Section -->
         <div class="advert-media">
		    <div class="media-container" th:each="media : ${advert.media}">
		        <!-- Image Preview -->
		        <img th:if="${media.mediaType.startsWith('image')}" 
		             th:src="${media.base64MediaData}" 
					 th:loading="lazy"
		             alt="Post Media" 
		             class="media-preview"
		             onclick="showMediaFullscreen(this)">
		             
		        <!-- Video Preview -->
		        <video th:if="${media.mediaType.startsWith('video')}" 
		               class="media-preview-video" 
		               controls 
					   preload="metadata" 
					   th:loading="lazy"
		               onclick="showMediaFullscreen(this)">
		            <source th:src="${media.base64MediaData}" th:type="${media.mediaType}">
		        </video>
		    </div>
		</div>
		
		
		 <!-- Form starts here -->
		 <form
		      class="comment_form_class" 
		      th:action="@{/users/advertAddComment(advertId=${advert.id})}" 
		      th:object="${commentForm}" 
		      method="post">
		      <h1 class="comment_section_title">Comment Section</h1>
            <p style="color: red; margin-bottom: 1em;"> Share your experience with this venue using butterfly rating and comment section provided below: </p>
            
             <div class="butterfly-rating" id="butterfly-rating">
	            <img id="butterfly_logo_id_1" class="butterfly_logo" alt="" th:src="@{/images/butterfly.png}" onclick="butterfly_fill(1)">
	            <img id="butterfly_logo_id_2" class="butterfly_logo" alt="" th:src="@{/images/butterfly.png}" onclick="butterfly_fill(2)">
	            <img id="butterfly_logo_id_3" class="butterfly_logo" alt="" th:src="@{/images/butterfly.png}" onclick="butterfly_fill(3)">
	            <img id="butterfly_logo_id_4" class="butterfly_logo" alt="" th:src="@{/images/butterfly.png}" onclick="butterfly_fill(4)">
	            <img id="butterfly_logo_id_5" class="butterfly_logo" alt="" th:src="@{/images/butterfly.png}" onclick="butterfly_fill(5)">
	        </div>
	        
	        <input type="hidden" id="selected_rating" name="rating" value="0">
        
            <div class="comment-box">
                <textarea style="margin-bottom: 1em;" id="comment-textarea-${advert.id}" th:field="*{commentText}"placeholder="Write your comment here..." rows="4"></textarea>
                
                <p class="error" th:if="${#fields.hasErrors('commentText')}" th:errors="*{commentText}">Error</p>
			</div>
                <div class="comment-actions" style="margin-bottom: 1em;" >
		            <!-- Submit Button -->
		            <button class="createPostBtn" type="submit">Add Comment</button>
                </div>
        </form>
        
        
		<!-- Comments Section -->
		<div class="comments-container" th:id="'comments-container-' + ${advert.Id}">
		    <h3>Comments</h3>
		    <hr>
		    <div th:if="${advert.commentForm != null && !advert.commentForm.isEmpty()}">
		        <div class="comment" th:each="comment : ${advert.commentForm}">
		        	<div th:if="${comment.tlVerifiedFlag == true}" class="comment_inner_main_container">
		        	<div class="comment_content_container">
			            <p>
			                <strong th:text="${comment.user.firstName}"></strong>: 
			            </p>
			            <div th:if="${comment.rating == 1}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
			            </div>
			            <div th:if="${comment.rating == 2}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
			            </div>
			            <div th:if="${comment.rating == 3}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
			            </div>
			            <div th:if="${comment.rating == 4}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
			            </div>
			            <div th:if="${comment.rating == 5}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
		            		<img class="butterfly_logo" alt="" th:src="@{/images/butterfly_fill.png}">
			            </div>
			            <p>
			                <span th:text="${comment.commentText}"></span>
			            </p>
		            </div>
		            <div class="date_container">
		            	<p th:text="${comment.createdDate}"></p>
		            </div>
		            </div>
		        </div>
		    </div>
		    <p th:if="${advert.commentForm == null || advert.commentForm.isEmpty()}">No comments</p>
		</div>
			
	
	<!-- Full-Screen Media Modal -->
	<div id="fullscreen-modal" class="modal" onclick="closeMediaFullscreen()">
	    <img id="modal-image" class="modal-content" style="display: none;">
	    <video id="modal-video" class="modal-content" controls style="display: none;"></video>
	</div>
			
	<script type="text/javascript"  th:src="@{/js/venueadvertpage.js}"></script>
</body>
</html>